<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h3>I am admin page!</h3>


    <h4>Signup to the website!</h4>

    <form  enctype="application/x-www-form-urlencoded" method="post" action="/admin/signup" >

        <input name="email" type="email"  />
        <input name="password" type="password"  />

        <button type="submit" >Submit</button>


    </form>


    <h4>Login to the website  (Patient) !</h4>

    <form  enctype="application/x-www-form-urlencoded" method="post" action="/patient/login" >

        <input name="email" type="email"  />
        <input name="password" type="password"  />

        <button type="submit" >Submit</button>


    </form>


    <h4>Login to the website  (Admin) !</h4>

    <form  enctype="application/x-www-form-urlencoded" method="post" action="/admin/login" >

        <input name="email" type="email"  />
        <input name="password" type="password"  />

        <button type="submit" >Submit</button>


    </form>


    <h4>Login to the website  (Doctor) !</h4>

    <form  enctype="application/x-www-form-urlencoded" method="post" action="/doctor/login" >

        <input name="email" type="email"  />
        <input name="password" type="password"  />

        <button type="submit" >Submit</button>


    </form>
    
</body>
</html>